@import '@fontsource/open-sans';
@import '@fontsource/merriweather';

.root{
    display: flex;
    justify-content: center;
}

.servBlock{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1220px;
    height: 500px;
}

.backImg{
    width: 1220px;
    height: 610px;
    background-image: url('./images/back.png');
    filter: brightness(40%);
}

.title{
    color: white;
    position: absolute;
    top: 80px;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.list{
    color: white;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;

    font-size: 14px;
    font-family: 'Merriweather', serif;
    line-height: 2;
    letter-spacing: 0.5px;
}

.leftBlock{
    width: 50%;
}

.leftBlock ul{
    padding-left: 80px;
}

.rightBlock{
    width: 50%;
    padding-right: 40px;
}

